server:
  port: 8011

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  application:
    name: mall-api
  security:
    user:
      name: cet
      password: $2a$10$3zjTclHhlDwoLRfVYcN.l.rAHX2UBv4X2Ai67dRYN9pMkl3jajlyO
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mall-vue?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false&zeroDateTimeBehavior=convertToNull
    username: root
    password: root
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    timeout: 50000
